Redirect permanent /shop/68383 https://fivestarcamera.iijapan.jp/column/post-14384/
Redirect permanent /shop/67375 https://fivestarcamera.iijapan.jp/column/post-14376/
Redirect permanent /shop/65124 https://fivestarcamera.iijapan.jp/column/post-14373/
Redirect permanent /shop/65111 https://fivestarcamera.iijapan.jp/column/post-14366/
Redirect permanent /shop/64157 https://fivestarcamera.iijapan.jp/column/post-14353/
Redirect permanent /shop/62193 https://fivestarcamera.iijapan.jp/column/post-14340/
Redirect permanent /shop/61395 https://fivestarcamera.iijapan.jp/column/post-14335/
Redirect permanent /shop/61388 https://fivestarcamera.iijapan.jp/column/post-14333/
Redirect permanent /shop/46629 https://fivestarcamera.iijapan.jp/column/post-14329/
Redirect permanent /shop/15713 https://fivestarcamera.iijapan.jp/column/post-14317/
Redirect permanent /shop/13754 https://fivestarcamera.iijapan.jp/column/post-14312/
Redirect permanent /shop/10957 https://fivestarcamera.iijapan.jp/column/post-14309/
Redirect permanent /shop/3762 https://fivestarcamera.iijapan.jp/column/post-14303/
Redirect permanent /shop/3770 https://fivestarcamera.iijapan.jp/column/post-14300/
Redirect permanent /shop/3660 https://fivestarcamera.iijapan.jp/column/post-14298/
Redirect permanent /shop/3480 https://fivestarcamera.iijapan.jp/column/post-14296/
Redirect permanent /shop/2977 https://fivestarcamera.iijapan.jp/column/post-14294/
Redirect permanent /shop/2652 https://fivestarcamera.iijapan.jp/column/post-14292/
Redirect permanent /shop/2364 https://fivestarcamera.iijapan.jp/column/post-14281/
Redirect permanent /shop/2221 https://fivestarcamera.iijapan.jp/column/post-14290/
Redirect permanent /shop/2013 https://fivestarcamera.iijapan.jp/column/post-14287/
Redirect permanent /shop/1815 https://fivestarcamera.iijapan.jp/column/post-14285/
Redirect permanent /shop/1518 https://fivestarcamera.iijapan.jp/column/post-14283/
Redirect permanent /shop/1483 https://fivestarcamera.iijapan.jp/column/post-14279/
Redirect permanent /shop/1461 https://fivestarcamera.iijapan.jp/column/post-14277/
Redirect permanent /shop/1439 https://fivestarcamera.iijapan.jp/column/post-14275/
Redirect permanent /shop/1425 https://fivestarcamera.iijapan.jp/column/post-14273/
Redirect permanent /shop/1414 https://fivestarcamera.iijapan.jp/column/post-14271/
Redirect permanent /shop/1399 https://fivestarcamera.iijapan.jp/column/post-14269/
Redirect permanent /shop/1389 https://fivestarcamera.iijapan.jp/column/post-14267/
Redirect permanent /shop/1367 https://fivestarcamera.iijapan.jp/column/post-14265/
Redirect permanent /shop/1351 https://fivestarcamera.iijapan.jp/column/post-14263/
Redirect permanent /shop/1327 https://fivestarcamera.iijapan.jp/column/post-14260/
Redirect permanent /shop/1310 https://fivestarcamera.iijapan.jp/column/post-14257/
Redirect permanent /shop/1240 https://fivestarcamera.iijapan.jp/column/post-14254/
Redirect permanent /shop/1052 https://fivestarcamera.iijapan.jp/column/post-14248/
Redirect permanent /shop/484 https://fivestarcamera.iijapan.jp/column/post-14245/
Redirect permanent /shop/6929 https://fivestarcamera.iijapan.jp/column/post-14240/

Redirect permanent /column/detail/68383 https://fivestarcamera.iijapan.jp/column/post-14384/
Redirect permanent /column/detail/67375 https://fivestarcamera.iijapan.jp/column/post-14376/
Redirect permanent /column/detail/65124 https://fivestarcamera.iijapan.jp/column/post-14373/
Redirect permanent /column/detail/65111 https://fivestarcamera.iijapan.jp/column/post-14366/
Redirect permanent /column/detail/64157 https://fivestarcamera.iijapan.jp/column/post-14353/
Redirect permanent /column/detail/62193 https://fivestarcamera.iijapan.jp/column/post-14340/
Redirect permanent /column/detail/61395 https://fivestarcamera.iijapan.jp/column/post-14335/
Redirect permanent /column/detail/61388 https://fivestarcamera.iijapan.jp/column/post-14333/
Redirect permanent /column/detail/46629 https://fivestarcamera.iijapan.jp/column/post-14329/
Redirect permanent /column/detail/15713 https://fivestarcamera.iijapan.jp/column/post-14317/
Redirect permanent /column/detail/13754 https://fivestarcamera.iijapan.jp/column/post-14312/
Redirect permanent /column/detail/10957 https://fivestarcamera.iijapan.jp/column/post-14309/
Redirect permanent /column/detail/3762 https://fivestarcamera.iijapan.jp/column/post-14303/
Redirect permanent /column/detail/3770 https://fivestarcamera.iijapan.jp/column/post-14300/
Redirect permanent /column/detail/3660 https://fivestarcamera.iijapan.jp/column/post-14298/
Redirect permanent /column/detail/3480 https://fivestarcamera.iijapan.jp/column/post-14296/
Redirect permanent /column/detail/2977 https://fivestarcamera.iijapan.jp/column/post-14294/
Redirect permanent /column/detail/2652 https://fivestarcamera.iijapan.jp/column/post-14292/
Redirect permanent /column/detail/2364 https://fivestarcamera.iijapan.jp/column/post-14281/
Redirect permanent /column/detail/2221 https://fivestarcamera.iijapan.jp/column/post-14290/
Redirect permanent /column/detail/2013 https://fivestarcamera.iijapan.jp/column/post-14287/
Redirect permanent /column/detail/1815 https://fivestarcamera.iijapan.jp/column/post-14285/
Redirect permanent /column/detail/1518 https://fivestarcamera.iijapan.jp/column/post-14283/
Redirect permanent /column/detail/1483 https://fivestarcamera.iijapan.jp/column/post-14279/
Redirect permanent /column/detail/1461 https://fivestarcamera.iijapan.jp/column/post-14277/
Redirect permanent /column/detail/1439 https://fivestarcamera.iijapan.jp/column/post-14275/
Redirect permanent /column/detail/1425 https://fivestarcamera.iijapan.jp/column/post-14273/
Redirect permanent /column/detail/1414 https://fivestarcamera.iijapan.jp/column/post-14271/
Redirect permanent /column/detail/1399 https://fivestarcamera.iijapan.jp/column/post-14269/
Redirect permanent /column/detail/1389 https://fivestarcamera.iijapan.jp/column/post-14267/
Redirect permanent /column/detail/1367 https://fivestarcamera.iijapan.jp/column/post-14265/
Redirect permanent /column/detail/1351 https://fivestarcamera.iijapan.jp/column/post-14263/
Redirect permanent /column/detail/1327 https://fivestarcamera.iijapan.jp/column/post-14260/
Redirect permanent /column/detail/1310 https://fivestarcamera.iijapan.jp/column/post-14257/
Redirect permanent /column/detail/1240 https://fivestarcamera.iijapan.jp/column/post-14254/
Redirect permanent /column/detail/1052 https://fivestarcamera.iijapan.jp/column/post-14248/
Redirect permanent /column/detail/484 https://fivestarcamera.iijapan.jp/column/post-14245/
Redirect permanent /column/detail/6929 https://fivestarcamera.iijapan.jp/column/post-14240/
Redirect permanent /column/post-14300/ https://fivestarcamera.iijapan.jp/column/post-14994/
Redirect permanent /column/post-14279/ https://fivestarcamera.iijapan.jp/column/post-15006/
Redirect permanent /column/post-14271/ https://fivestarcamera.iijapan.jp/column/post-15010/
Redirect permanent /column/post-14254/ https://fivestarcamera.iijapan.jp/column/post-15022/
Redirect permanent /column/post-14240/ https://fivestarcamera.iijapan.jp/column/post-15028/
Redirect permanent /column/post-14263/ https://fivestarcamera.iijapan.jp/column/post-15016/
Redirect permanent /column/post-14980/ https://fivestarcamera.iijapan.jp/column/post-14317/
Redirect permanent /column/post-14292/ https://fivestarcamera.iijapan.jp/column/post-15000/
Redirect permanent /column/post-14281/ https://fivestarcamera.iijapan.jp/column/post-15004/
Redirect permanent /column/post-14260/ https://fivestarcamera.iijapan.jp/column/post-15018/
Redirect permanent /column/post-14984/ https://fivestarcamera.iijapan.jp/column/post-14309/
Redirect permanent /column/post-14312/ https://fivestarcamera.iijapan.jp/column/post-14982/
Redirect permanent /column/post-14298/ https://fivestarcamera.iijapan.jp/column/post-14996/
Redirect permanent /column/post-14303/ https://fivestarcamera.iijapan.jp/column/post-14992/
Redirect permanent /column/post-14248/ https://fivestarcamera.iijapan.jp/column/post-15024/
Redirect permanent /column/post-14269/ https://fivestarcamera.iijapan.jp/column/post-15012/
Redirect permanent /column/post-14277/ https://fivestarcamera.iijapan.jp/column/post-15008/
Redirect permanent /column/post-14290/ https://fivestarcamera.iijapan.jp/column/post-15002/
Redirect permanent /column/post-14245/ https://fivestarcamera.iijapan.jp/column/post-15026/
Redirect permanent /column/post-14267/ https://fivestarcamera.iijapan.jp/column/post-15014/
Redirect permanent /column/post-14366/ https://fivestarcamera.iijapan.jp/column/post-14645/
Redirect permanent /column/post-14257/ https://fivestarcamera.iijapan.jp/column/post-15020/

RewriteEngine on
RewriteRule ^column/detail/1052/$ https://fivestarcamera-shop.iijapan.jp/1052/ [R=301,L]
RewriteRule ^column/detail/10957/$ https://fivestarcamera-shop.iijapan.jp/10957/ [R=301,L]
RewriteRule ^column/detail/1240/$ https://fivestarcamera-shop.iijapan.jp/1240/ [R=301,L]
RewriteRule ^column/detail/1310/$ https://fivestarcamera-shop.iijapan.jp/1310/ [R=301,L]
RewriteRule ^column/detail/1327/$ https://fivestarcamera-shop.iijapan.jp/1327/ [R=301,L]
RewriteRule ^column/detail/1351/$ https://fivestarcamera-shop.iijapan.jp/1351/ [R=301,L]
RewriteRule ^column/detail/1367/$ https://fivestarcamera-shop.iijapan.jp/1367/ [R=301,L]
RewriteRule ^column/detail/13754/$ https://fivestarcamera-shop.iijapan.jp/13754/ [R=301,L]
RewriteRule ^column/detail/1389/$ https://fivestarcamera-shop.iijapan.jp/1389/ [R=301,L]
RewriteRule ^column/detail/1399/$ https://fivestarcamera-shop.iijapan.jp/1399/ [R=301,L]
RewriteRule ^column/detail/1414/$ https://fivestarcamera-shop.iijapan.jp/1414/ [R=301,L]
RewriteRule ^column/detail/1425/$ https://fivestarcamera-shop.iijapan.jp/1425/ [R=301,L]
RewriteRule ^column/detail/1427/$ https://fivestarcamera-shop.iijapan.jp/1427/ [R=301,L]
RewriteRule ^column/detail/1439/$ https://fivestarcamera-shop.iijapan.jp/1439/ [R=301,L]
RewriteRule ^column/detail/1453/$ https://fivestarcamera-shop.iijapan.jp/1453/ [R=301,L]
RewriteRule ^column/detail/1461/$ https://fivestarcamera-shop.iijapan.jp/1461/ [R=301,L]
RewriteRule ^column/detail/1483/$ https://fivestarcamera-shop.iijapan.jp/1483/ [R=301,L]
RewriteRule ^column/detail/1518/$ https://fivestarcamera-shop.iijapan.jp/1518/ [R=301,L]
RewriteRule ^column/detail/15713/$ https://fivestarcamera-shop.iijapan.jp/15713/ [R=301,L]
RewriteRule ^column/detail/1687/$ https://fivestarcamera-shop.iijapan.jp/1687/ [R=301,L]
RewriteRule ^column/detail/1745/$ https://fivestarcamera-shop.iijapan.jp/1745/ [R=301,L]
RewriteRule ^column/detail/1815/$ https://fivestarcamera-shop.iijapan.jp/1815/ [R=301,L]
RewriteRule ^column/detail/2013/$ https://fivestarcamera-shop.iijapan.jp/2013/ [R=301,L]
RewriteRule ^column/detail/2221/$ https://fivestarcamera-shop.iijapan.jp/2221/ [R=301,L]
RewriteRule ^column/detail/2336/$ https://fivestarcamera-shop.iijapan.jp/2336/ [R=301,L]
RewriteRule ^column/detail/2364/$ https://fivestarcamera-shop.iijapan.jp/2364/ [R=301,L]
RewriteRule ^column/detail/2521/$ https://fivestarcamera-shop.iijapan.jp/2521/ [R=301,L]
RewriteRule ^column/detail/2593/$ https://fivestarcamera-shop.iijapan.jp/2593/ [R=301,L]
RewriteRule ^column/detail/2652/$ https://fivestarcamera-shop.iijapan.jp/2652/ [R=301,L]
RewriteRule ^column/detail/2853/$ https://fivestarcamera-shop.iijapan.jp/2853/ [R=301,L]
RewriteRule ^column/detail/2977/$ https://fivestarcamera-shop.iijapan.jp/2977/ [R=301,L]
RewriteRule ^column/detail/2995/$ https://fivestarcamera-shop.iijapan.jp/2995/ [R=301,L]
RewriteRule ^column/detail/3046/$ https://fivestarcamera-shop.iijapan.jp/3046/ [R=301,L]
RewriteRule ^column/detail/30465/$ https://fivestarcamera-shop.iijapan.jp/30465/ [R=301,L]
RewriteRule ^column/detail/3111/$ https://fivestarcamera-shop.iijapan.jp/3111/ [R=301,L]
RewriteRule ^column/detail/3164/$ https://fivestarcamera-shop.iijapan.jp/3164/ [R=301,L]
RewriteRule ^column/detail/3192/$ https://fivestarcamera-shop.iijapan.jp/3192/ [R=301,L]
RewriteRule ^column/detail/3216/$ https://fivestarcamera-shop.iijapan.jp/3216/ [R=301,L]
RewriteRule ^column/detail/3316/$ https://fivestarcamera-shop.iijapan.jp/3316/ [R=301,L]
RewriteRule ^column/detail/3480/$ https://fivestarcamera-shop.iijapan.jp/3480/ [R=301,L]
RewriteRule ^column/detail/3502/$ https://fivestarcamera-shop.iijapan.jp/3502/ [R=301,L]
RewriteRule ^column/detail/3546/$ https://fivestarcamera-shop.iijapan.jp/3546/ [R=301,L]
RewriteRule ^column/detail/3556/$ https://fivestarcamera-shop.iijapan.jp/3556/ [R=301,L]
RewriteRule ^column/detail/3660/$ https://fivestarcamera-shop.iijapan.jp/3660/ [R=301,L]
RewriteRule ^column/detail/3762/$ https://fivestarcamera-shop.iijapan.jp/3762/ [R=301,L]
RewriteRule ^column/detail/3770/$ https://fivestarcamera-shop.iijapan.jp/3770/ [R=301,L]
RewriteRule ^column/detail/3868/$ https://fivestarcamera-shop.iijapan.jp/3868/ [R=301,L]
RewriteRule ^column/detail/3932/$ https://fivestarcamera-shop.iijapan.jp/3932/ [R=301,L]
RewriteRule ^column/detail/4113/$ https://fivestarcamera-shop.iijapan.jp/4113/ [R=301,L]
RewriteRule ^column/detail/4172/$ https://fivestarcamera-shop.iijapan.jp/4172/ [R=301,L]
RewriteRule ^column/detail/4245/$ https://fivestarcamera-shop.iijapan.jp/4245/ [R=301,L]
RewriteRule ^column/detail/4354/$ https://fivestarcamera-shop.iijapan.jp/4354/ [R=301,L]
RewriteRule ^column/detail/4542/$ https://fivestarcamera-shop.iijapan.jp/4542/ [R=301,L]
RewriteRule ^column/detail/4599/$ https://fivestarcamera-shop.iijapan.jp/4599/ [R=301,L]
RewriteRule ^column/detail/4655/$ https://fivestarcamera-shop.iijapan.jp/4655/ [R=301,L]
RewriteRule ^column/detail/4794/$ https://fivestarcamera-shop.iijapan.jp/4794/ [R=301,L]
RewriteRule ^column/detail/484/$ https://fivestarcamera-shop.iijapan.jp/484/ [R=301,L]
RewriteRule ^column/detail/5146/$ https://fivestarcamera-shop.iijapan.jp/5146/ [R=301,L]
RewriteRule ^column/detail/5178/$ https://fivestarcamera-shop.iijapan.jp/5178/ [R=301,L]
RewriteRule ^column/detail/5286/$ https://fivestarcamera-shop.iijapan.jp/5286/ [R=301,L]
RewriteRule ^column/detail/5393/$ https://fivestarcamera-shop.iijapan.jp/5393/ [R=301,L]
RewriteRule ^column/detail/5463/$ https://fivestarcamera-shop.iijapan.jp/5463/ [R=301,L]
RewriteRule ^column/detail/5515/$ https://fivestarcamera-shop.iijapan.jp/5515/ [R=301,L]
RewriteRule ^column/detail/5713/$ https://fivestarcamera-shop.iijapan.jp/5713/ [R=301,L]
RewriteRule ^column/detail/5767/$ https://fivestarcamera-shop.iijapan.jp/5767/ [R=301,L]
RewriteRule ^column/detail/5919/$ https://fivestarcamera-shop.iijapan.jp/5919/ [R=301,L]
RewriteRule ^column/detail/6035/$ https://fivestarcamera-shop.iijapan.jp/6035/ [R=301,L]
RewriteRule ^column/detail/6237/$ https://fivestarcamera-shop.iijapan.jp/6237/ [R=301,L]
RewriteRule ^column/detail/6813/$ https://fivestarcamera-shop.iijapan.jp/6813/ [R=301,L]
RewriteRule ^column/detail/6910/$ https://fivestarcamera-shop.iijapan.jp/6910/ [R=301,L]
RewriteRule ^column/detail/6929/$ https://fivestarcamera-shop.iijapan.jp/6929/ [R=301,L]

Redirect permanent /8091/ https://fivestarcamera.iijapan.jp/column/post-14980/
Redirect permanent /7809/ https://fivestarcamera.iijapan.jp/column/post-14982/
Redirect permanent /7318/ https://fivestarcamera.iijapan.jp/column/post-14984/
Redirect permanent /5178/ https://fivestarcamera.iijapan.jp/column/post-14986/
Redirect permanent /5146/ https://fivestarcamera.iijapan.jp/column/post-14988/
Redirect permanent /4655/ https://fivestarcamera.iijapan.jp/column/post-14990/
Redirect permanent /3762/ https://fivestarcamera.iijapan.jp/column/post-14992/
Redirect permanent /3770/ https://fivestarcamera.iijapan.jp/column/post-14994/
Redirect permanent /3660/ https://fivestarcamera.iijapan.jp/column/post-14996/
Redirect permanent /3164/ https://fivestarcamera.iijapan.jp/column/post-14998/
Redirect permanent /2652/ https://fivestarcamera.iijapan.jp/column/post-15000/
Redirect permanent /2364/ https://fivestarcamera.iijapan.jp/column/post-15002/
Redirect permanent /1518/ https://fivestarcamera.iijapan.jp/column/post-15004/
Redirect permanent /1483/ https://fivestarcamera.iijapan.jp/column/post-15006/
Redirect permanent /1461/ https://fivestarcamera.iijapan.jp/column/post-15008/
Redirect permanent /1414/ https://fivestarcamera.iijapan.jp/column/post-15010/
Redirect permanent /1399/ https://fivestarcamera.iijapan.jp/column/post-15012/
Redirect permanent /1389/ https://fivestarcamera.iijapan.jp/column/post-15014/
Redirect permanent /1351/ https://fivestarcamera.iijapan.jp/column/post-15016/
Redirect permanent /1327/ https://fivestarcamera.iijapan.jp/column/post-15018/
Redirect permanent /1310/ https://fivestarcamera.iijapan.jp/column/post-15020/
Redirect permanent /1240/ https://fivestarcamera.iijapan.jp/column/post-15022/
Redirect permanent /1052/ https://fivestarcamera.iijapan.jp/column/post-15024/
Redirect permanent /484/ https://fivestarcamera.iijapan.jp/column/post-15026/
Redirect permanent /175/ https://fivestarcamera.iijapan.jp/column/post-15028/


Action myphp-script /php.cgi
AddHandler myphp-script .php .html

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Leverage browser caching(ブラウザのキャッシュ対応)
<IfModule mod_expires.c>
# Expires
ExpiresActive on
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType text/css "access plus 1 month"
ExpiresByType text/js "access plus 1 month"
ExpiresByType text/javascript "access plus 1 month"
ExpiresByType application/javascript "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType application/rss+xml "access plus 2 days"
ExpiresByType text/html "modification plus 2 hours"
</IfModule>

# gzip圧縮
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI \.(?:gif|jpg|jpeg|png|ico)$ no-gzip dont-vary
</IfModule>

#ETag
<IfModule mod_headers.c>
<Files ~ "\.(css|js|html)$">
FileETag MTime Size
</Files>

<Files ~ "\.(gif|jpg|jpeg|png)$">
FileETag None
</Files>
</IfModule>
